body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}
.app-sidebar {
    background-color: #1a1a1a;
    transition: width 0.3s ease-in-out;
}
.menu-link.active {
    background-color: #10b981; /* emerald-500 */
    color: #ffffff;
}
.menu-link:hover {
    background-color: #333;
    color: #ffffff;
}
.tab-view {
    display: none;
}
.tab-view.active {
    display: block;
}
.file-input-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s;
}
.file-input {
    display: none;
}
.modal {
    display: none;
}
.modal.flex {
    display: flex;
}
#auth-container, #app-container {
    display: none; /* Escondidos por padrão */
}

/* Sidebar Collapse Styles */
.app-sidebar.collapsed {
    width: 5rem; /* 80px */
}
.app-sidebar.collapsed .sidebar-header span,
.app-sidebar.collapsed .menu-link span,
.app-sidebar.collapsed .menu-title {
    display: none;
    opacity: 0;
}
.app-sidebar.collapsed .sidebar-header {
    padding-bottom: 2rem;
}
.app-sidebar.collapsed .sidebar-header a {
    justify-content: center;
}
.app-sidebar.collapsed .menu-link {
    justify-content: center;
}
#sidebar-toggle-btn i {
    transition: transform 0.3s ease-in-out;
}
.app-sidebar.collapsed #sidebar-toggle-btn i {
    transform: rotate(180deg);
}
